<%= form_for @team, html: { class: 'form-horizontal' }  do |f| %>

  <% if @team.errors.any? %>
    <% flash[:error] = @team.errors.full_messages.to_s %>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, class: 'text_field', autofocus: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :alias, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :alias, class: 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :color, class: 'control-label' %>
    <div class="controls">
      <%= select :team, :color, [["blue","blue"],["white","white"],["red","red"]] %>
    </div>
  </div>

<% end %>
