<% content_for :rows do %>
  <% @team.servers.each do |server| %>
    <div class="row">
      <div class="span12">
        <h3><%= server.name %></h2>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span11">
        <table class="table">
          <thead>
            <tr>
              <th>Service</th>
              <th>Protocol</th>
              <th>Version</th>
              <th>Properties</th>
              <th>Latest Check</th>
              <th>Users</th>
            </tr>
          </thead>
          <tbody>
            <% server.services.each do |service| %>
              <% if service.checks.latest && service.checks.latest.passed %>
                <tr class="success">
              <% else %>
                <tr class="error">
              <% end %>
                <td><%= service.name %></td>
                <td><%= service.protocol %></td>
                <td><%= service.version %></td>
                <td><%= link_to "Properties", modal_properties_service_path(service), class: 'btn btn-small', data: { toggle: "modal", target: "#propertiesModal" } %></td>
                <td><%= link_to "Check Details", modal_latest_check_service_path(service), class: 'btn btn-small', data: { toggle: "modal", target: "#checksModal" } %></td>
                <td><%= link_to "Users", modal_users_service_path(service), class: 'btn btn-small', data: { toggle: "modal", target: "#usersModal" } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>

<div id="propertiesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Properties</h3>
  </div>
  <div class="modal-body">
    <%= image_tag("spinner.gif", class: "spinner") %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="checksModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Latest Check</h3>
  </div>
  <div class="modal-body">
    <%= image_tag("spinner.gif", class: "spinner") %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="usersModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Users</h3>
  </div>
  <div class="modal-body">
    <%= image_tag("spinner.gif", class: "spinner") %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
