<% team = @team if @team %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Service</th>
      <th>Server</th>
      <th>Protocol</th>
      <th>Version</th>
      <th>Status</th>
      <% if member?(team) || can?(:edit, team) %>
        <th>Current</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% team.servers.each do |server| %>
      <% server.services.each do |service| %>
        <% users = service.users %>
        <% checks = service.checks %>
        <% properties = service.properties %>
        <% latest = checks.latest || Check.new %>
        <% passed = case latest.passed when true then "Passing"; when false then "Failing"; else "No Checks" end %>
        <% background = case passed when "Passing" then "success"; when "Failing" then "error"; else "info" end %>
        <tr>
          <td><%= link_to service.name, team_server_service_path(team,server,service) %></td>
          <td><%= server.name %></td>
          <td><%= service.protocol %></td>
          <td><%= service.version %></td>
          <td class="<%= background %>"><%= passed %></td>
          <% if member?(team) || can?(:edit, team) %>
            <td>
              <%= link_to "Check", modal_team_server_service_checks_path(team,server,service), class: "btn btn-small #{'disabled' if latest.id.nil?}", data: { toggle: "modal", target: "#checksModal" } %>
              <%= link_to "Users", modal_team_server_service_users_path(team,server,service), class: "btn btn-small #{'disabled' if users.count == 0}", data: { toggle: "modal", target: "#usersModal" } %>
              <%= link_to "Properties", modal_team_server_service_properties_path(team,server,service), class: "btn btn-small #{'disabled' if properties.count == 0}", data: { toggle: "modal", target: "#propertiesModal" } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
