<% if Team.can_new?(current_member) %>
  <% content_for :actions do %>
    <li class="new">
      <%= link_to new_team_path do %><i class="icon-plus-sign"></i><span>New Team</span><% end %>
    </li>
  <% end %>
<% end %>


<div class="page-header">
  <h3>Teams</h3>
</div>



<table class="table table-hover">
  <thead>
    <tr>
      <th>Alias</th>
      <th>Name</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <% next unless team.can_index?(current_member,team.id) %>
      <% label = { red: 'danger', blue: 'primary', white:'default' } %>
      <tr>
        <% if team.can_show?(current_member,team.id) %>
          <td><%= link_to team.alias, team_path(team) %></td>
        <% else %>
          <td><%= team.alias %></td>
        <% end %>
        <td><%= team.name %></td>
        <td><span class="label label-<%= label[team.color.downcase.to_sym] %>"><%= team.color %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
