<div class="page-header">
  <table>
    <tr>
      <td><h1>All Teams</h1></td>
      <td><%= link_to "New Team", new_team_path, class: 'btn btn-primary' if whiteteam? %></td>
    </tr>
  </table>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <% if whiteteam? %>
        <th>Id</th>
      <% end %>
      <th>Alias</th>
      <th>Name</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <% next if cannot? :show, team %>
      <tr>
        <% if whiteteam? %>
          <td><%= team.id %></td>
        <% end %>
        <td><%= link_to team.alias, team_path(team) %></td>
        <td><%= team.name %></td>
        <% if team.color == 'white' %>
          <td><span class="label label-inverse"><%= team.color %></span></td>
        <% elsif team.color == 'red' %>
          <td><span class="label label-important"><%= team.color %></span></td>
        <% else %>
          <td><span class="label label-info"><%= team.color %></span></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
