<% if can?(:new, Team) %>
  <% content_for :actions do %>
    <% if can? :new, Team %>
      <li class="new"> 
        <%= link_to new_team_path do %>New Team<i class="icon-plus-sign"></i><% end %>
      </li>
    <% end %>  
  <% end %>  
<% end %>  

<% content_for :paths do %>
  <li class='path'>
    <%= link_to teams_path do %><span>Teams</span><i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<div class="page-header">
  <h3>Teams</h3>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Alias</th>
      <th>Name</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <% label = { red: 'important', blue: 'info', white:'inverse' } %>
      <tr>
        <td><%= link_to team.alias, team_path(team) %></td>
        <td><%= team.name %></td>
        <td><span class="label label-<%= label[team.color.downcase.to_sym] %>"><%= team.color %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
