<% content_for :rows do %>
  <% @teams.each do |team| %>
    <div class="row">
      <div class="page-header">
        <h2><%= team.alias %></h2>
      </div>
      <div class="span12">
        <%= render partial: 'team_services', locals: { team: team } %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render partial: 'checks/modal' %>
<%= render partial: 'properties/modal' %>
<%= render partial: 'users/modal' %>
