<div class="page-header">
  <h1><%= @team.alias %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @team.name %></dd>
  <dt><strong>Alias:</strong></dt>
  <dd><%= @team.alias %></dd>
  <dt><strong>Color:</strong></dt>
  <dd><%= @team.color %></dd>
</dl>

<% if whiteteam? %>
  <div class="form-actions">
    <%= link_to 'Back', teams_path, class: 'btn' %>
    <%= link_to 'Edit', edit_team_path(@team), class: 'btn' %>
    <%= link_to 'Delete', team_path(@team), method: :delete, data: { confirm: 'Please Confirm' }, class: 'btn btn-danger' %>
  </div>
<% end %>
