<div class="page-header">
  <table>
    <tr>
      <td><%= @team.alias %> : <%= @team.name %></td>
      <td>
        <%= link_to 'Edit', edit_team_path(@team), class: 'btn' if can? :edit, @team %>
        <%= link_to 'Delete', team_path(@team), method: :delete, class: 'btn btn-danger', data: { confirm: 'Please Confirm' } if can? :destroy, @team %>
      </td>
    </tr>
  </table>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Id:</td>
      <td><%= @team.id %></td>
    </tr>
    <tr>
      <td>Alias:</td>
      <td><%= @team.alias %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= @team.name %></td>
    </tr>
  </table>
</div>

<div class="page-header">
  <h2>Servers</h2>
</div>

<%= render partial: 'team_servers' %>

<div class="page-header">
  <h2>Services</h2>
</div>

<%= render partial: 'team_services' %>
<%= render partial: 'checks/modal' %>
<%= render partial: 'properties/modal' %>
<%= render partial: 'users/modal' %>

