<% if can?(:edit, @team) || can?(:destroy, @team) %>
  <% content_for :actions do %>
    <% if can? :edit, @team %>
      <li class='edit'>
        <%= link_to edit_team_path(@team) do %>Edit<i class="icon-plus"></i><% end %>
      </li>
    <% end %>
    <% if can? :destroy, @team %>
      <li class='destroy'>
        <%= link_to team_path(@team), method: :delete, data: { confirm: 'Please Confirm' } do %>Delete<i class="icon-warning-sign"></i><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :resources do %>
  <li class='resource'>
    <%= link_to team_servers_path(@team) do %>Servers<i class="icon-chevron-right"></i><% end %>
  </li>
<% end %>

<% content_for :paths do %>
  <li class='path'>
    <%= link_to teams_path do %><span>Teams</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to teams_path do %><span><%= @team.alias %></span><i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<div class="page-header">
  <h3><%= @team.alias %></h3>
</div>


<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Alias:</td>
      <td><%= @team.alias %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= @team.name %></td>
    </tr>
  </table>
</div>

<div class="page-header">
  <h3>Servers</h3>
</div>

<%= render partial: 'servers/team', locals: { team: @team } %>

<div class="page-header">
  <h3>Services</h3>
</div>

<%= render partial: 'services/team', locals: { team: @team } %>

<%= render partial: 'checks/modal' %>
<%= render partial: 'properties/modal' %>
<%= render partial: 'users/modal' %>
