<table class="table table-hover">
  <thead>
    <tr>
      <% if whiteteam? %>
        <th>Id</th>
        <th>Name</th>
        <th>Team</th>
        <th>Server</th>
        <th>Protocol</th>
        <th>Version</th>
        <th>Enabled</th>
        <th>Actions</th>
      <% else %>
        <th>Name</th>
        <th>Team</th>
        <th>Server</th>
        <th>Protocol</th>
        <th>Version</th>
        <th>Enabled</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <% if whiteteam? %>
          <td><%= service.id %></td>
          <td><%= link_to service.name, service_path(service) %></td>
          <td><%= link_to service.server.team.alias, team_path(service.server.team) %></td>
          <td><%= link_to service.server.name, server_path(service.server) %></td>
          <td><%= service.protocol %></td>
          <td><%= service.version %></td>
          <td><%= service.enabled %></td>
          <td>
          <%= link_to 'Edit', edit_service_path(service), class: 'btn btn-mini' %>
          <%= link_to 'Delete', service_path(service), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Please Confirm' } %>
          </td>
        <% else %>
          <td><%= link_to service.name, service_path(service) %></td>
          <td><%= link_to service.server.team.alias, team_path(service.server.team) %></td>
          <td><%= link_to service.server.name, server_path(service.server) %></td>
          <td><%= service.protocol %></td>
          <td><%= service.version %></td>
          <td><%= service.enabled %></td>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
