<% team = @team if @team  %>
<% services = team.services.order("version,protocol DESC") %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Service</th>
      <th>Version</th>
      <th>Protocol</th>
      <th>Status</th>
      <th>Checks</th>
      <th>Users</th>
      <th>Properties</th>
    </tr>
  </thead>
  <tbody>
    <% services.each do |service| %>
      <% server = service.server %>
      <% latest = service.checks.latest || Check.new %>
      <% label_class = latest.passed ? "success" : "important" %>
      <% label_text = latest.passed ? "Passing" : "Failing" %>
      <tr>
        <% if can? :show, service %>
          <td><%= link_to service.name, team_server_service_path(team,server,service) %></td>
        <% else %>
          <td><%= service.name %></td>
        <% end %>
        <td><%= service.version %></td>
        <td><%= service.protocol %></td>
        <td>
          <% if latest.id.nil? %>
            <span class="label label-info">No Checks</span>
          <% else %>
            <% if can?(:modal, latest) || can?(:modal, Check) %>
              <%= link_to modal_team_server_service_check_path(team,server,service,latest), data: { toggle: "modal", target: "#checksModal" } do %>
                <span class="label label-<%= label_class %>"><%= label_text %></span>
              <% end %>
            <% else %>
                <span class="label label-<%= label_class %>"><%= label_text %></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if member?(team) || can?(:index, service.checks.first) %>
            <% if service.checks.count == 0 %>
              No Checks
            <% else %>
              <%= link_to "Checks", team_server_service_checks_path(team,server,service) %>
            <% end %>
          <% else %>
            Unavailable
          <% end %>
        </td>
        <td>
          <% if member?(team) || can?(:modal, service.users.first) || can?(:modal, User) %>
            <% if service.users.count == 0 %>
              No Users
            <% else %>
              <%= link_to "Users", modal_team_server_service_users_path(team,server,service), data: { toggle: "modal", target: "#usersModal" } %>
            <% end %>
          <% else %>
            Unavailable
          <% end %>
        </td>
        <td>
          <% if member?(team) || can?(:modal, service.properties.first) || can?(:modal, Property) %>
            <% if service.properties.count == 0 %>
              No Properties
            <% else %>
              <%= link_to "Properties", modal_team_server_service_properties_path(team,server,service), data: { toggle: "modal", target: "#propertiesModal" } %>
            <% end %>
          <% else %>
            Unavailable
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
