<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Service</th>
      <th>Version</th>
      <th>Protocol</th>
      <th>Status</th>
      <th>Checks</th>
      <th>Users</th>
      <th>Properties</th>
    </tr>
  </thead>
  <tbody>
    <% team.services.includes(:server).ordered.each do |service| %>
      <% next unless service.can_show?(current_member,team.id) %>
      <% server = service.server %>
      <% latest_check = service.checks.latest || Check.new %>
      <% label_class = latest_check.passed ? "success" : "important" %>
      <% label_text = latest_check.passed ? "Passing" : "Failing" %>
      <tr>
        <td><%= link_to service.name, team_server_service_path(team,server,service) %></td>
        <td><%= service.version %></td>
        <td><%= service.protocol %></td>
        <td>
          <% if latest_check.id.nil? %>
            <span class="label label-info">No Checks</span>
          <% else %>
            <%= link_to modal_team_server_service_check_path(team,server,service,latest_check), data: { toggle: "modal", target: "#checksModal" } do %>
              <span class="label label-<%= label_class %>"><%= label_text %></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <% unless service.checks.exists? %>
            No Checks
          <% else %>
            <%= link_to "Checks", team_server_service_path(team,server,service) %>
          <% end %>
        </td>
        <td>
          <% unless service.users.exists? %>
            No Users
          <% else %>
            <%= link_to "Users", modal_team_server_service_users_path(team,server,service), data: { toggle: "modal", target: "#usersModal" } %>
          <% end %>
        </td>
        <td>
          <% unless service.properties.exists? %>
            No Properties
          <% else %>
            <%= link_to "Properties", modal_team_server_service_properties_path(team,server,service), data: { toggle: "modal", target: "#propertiesModal" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
