<% if can?(:edit, @service) %>
  <% content_for :actions do %>
    <% if can? :edit, @service %>
      <li class='submit'>
        <%= link_to '#', onclick: "$('#edit_service_#{@service.id}').trigger('submit')" do %>Update<i class="icon-ok-sign"></i><% end %>
      </li>
    <% end %>
    <li class='cancel'>
      <%= link_to team_server_services_path(@team,@server) do %>Cancel<i class="icon-ban-circle"></i><% end %>
    </li>
  <% end %>
<% end %>

<% content_for :resources do %>
  <li class='resource'>
    <%= link_to team_server_service_checks_path(@team,@server,@service) do %>Checks<i class="icon-chevron-right"></i><% end %>
  </li>
  <li class='resource'>
    <%= link_to team_server_service_users_path(@team,@server,@service) do %>Users<i class="icon-chevron-right"></i><% end %>
  </li>
  <li class='resource'>
    <%= link_to team_server_service_properties_path(@team,@server,@service) do %>Properties<i class="icon-chevron-right"></i><% end %>
  </li>
<% end %>

<% content_for :paths do %>
  <li class='path'>
    <%= link_to teams_path do %><span>Teams</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_path(@team) do %><span><%= @team.alias %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_servers_path(@team) do %><span>Servers</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_server_path(@team,@server) do %><span><%= @server.name %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_server_services_path(@team,@server) do %><span>Services</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_server_service_path(@team,@server,@service) do %><span><%= @service.name %></span><i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<div class="page-header">
  <h3><%= @service.name %></h3>
</div>

<%= render partial: 'form' %>
