<% content_for :header do 'New Service' end %>

<% if can?([:new], Service) %>
  <% content_for :actions do %>
    <% if can? :new, Service %>
      <li class='new'>
        <%= link_to '#', onclick: "$('#new_service').trigger('submit')" do %>Create<i class="icon-ok-sign"></i><% end %>
      </li>
    <% end %>
    <li class='cancel'>
      <%= link_to team_server_services_path(@team,@server) do %>Cancel<i class="icon-ban-circle"></i><% end %>
    </li>
  <% end %>
<% end %>

<% content_for :crumbs do %>
  <li class='crumb'>
    <%= link_to team_path(@team) do %>Team<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_servers_path(@team) do %>Servers<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_server_path(@team,@server) do %>Server<i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<%= render partial: 'form' %>
