<% if @service.can_edit?(current_member,@team.id) || @service.can_destroy?(current_member,@team.id) || User.can_new?(current_member,@team.id) || User.can_edit?(current_member,@team.id)  || Check.can_new?(current_member,@team.id) || Property.can_new?(current_member,@team.id) %>
  <% content_for :actions do %>
    <% if @service.can_edit?(current_member,@team.id) %>
      <li class='edit'>
        <%= link_to edit_team_server_service_path(@team,@server,@service) do %><i class="icon-plus"></i><span>Edit</span><% end %>
      </li>
    <% end %>
    <% if @service.can_destroy?(current_member,@team.id) %>
      <li class='destroy'>
        <%= link_to team_server_service_path(@team,@server,@service), method: :delete, data: { confirm: 'Please Confirm' } do %><i class="icon-warning-sign"></i><span>Delete</span><% end %>
      </li>
    <% end %>
    <% if User.can_new?(current_member,@team.id) %>
      <li class="new">
        <%= link_to new_team_server_service_user_path(@team,@server,@service) do %><i class="icon-plus-sign"></i><span>New User</span><% end %>
      </li>
    <% end %>
    <% if Check.can_new?(current_member,@team.id) %>
      <li class="new">
        <%= link_to new_team_server_service_check_path(@team,@server,@service) do %><i class="icon-plus-sign"></i><span>New Check</span><% end %>
      </li>
    <% end %>
    <% if Property.can_new?(current_member,@team.id) %>
      <li class="new">
        <%= link_to new_team_server_service_property_path(@team,@server,@service) do %><i class="icon-plus-sign"></i><span>New Property</span><% end %>
      </li>
    <% end %>
    <% if User.can_edit?(current_member,@team.id) %>
      <li class="csv">
        <%= link_to csv_team_server_service_users_path(@team,@server,@service) do %><i class="icon-plus-sign"></i><span>CSV Users Update</span><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>


<div class="page-header">
  <h3><%= @service.name %></h3>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Name:</td>
      <td><%= @service.name %></td>
    </tr>
    <tr>
      <td>Protocol:</td>
      <td><%= @service.protocol %></td>
    </tr>
    <tr>
      <td>Version:</td>
      <td><%= @service.version %></td>
    </tr>
    <tr>
      <td>Enabled:</td>
      <td><%= @service.enabled %></td>
    </tr>
    <tr>
      <td>Available Points:</td>
      <td><%= @service.available_points %></td>
    </tr>
  </table>
</div>

<div class="page-header">
  <h3>Properties</h3>
</div>
<%= render partial: 'properties/service', locals: { service: @service } %>

<div class="page-header">
  <h3>Users</h3>
</div>
<%= render partial: 'users/service', locals: { service: @service } %>

<%= render partial: 'checks/service', locals: { service: @service } %>
<%= render partial: 'checks/modal' %>
