<div class="page-header">
  <table>
    <tr>
      <td>Service: <%= @service.name %></td>
      <td>
        <%= link_to 'Edit', edit_team_server_service_path(@team,@server,@service), class: 'btn' if can? :edit, @service %>
        <%= link_to 'Delete', team_server_service_path(@team,@server,@service), method: :delete, class: 'btn btn-danger', data: { confirm: 'Please Confirm' } if can? :destroy, @service %>
      </td>
    </tr>
  </table>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Name:</td>
      <td><%= @service.name %></td>
    </tr>
    <tr>
      <td>Protocol:</td>
      <td><%= @service.protocol %></td>
    </tr>
    <tr>
      <td>Version:</td>
      <td><%= @service.version %></td>
    </tr>
    <tr>
      <td>Enabled:</td>
      <td><%= @service.enabled %></td>
    </tr>
    <tr>
      <td>Points:</td>
      <td><%= @service.points_per_check %></td>
    </tr>
  </table>
</div>

<div class="page-header">
  <h2>Properties</h2>
</div>
<%= render partial: 'properties/service' %>

<div class="page-header">
  <h2>Users</h2>
</div>
<%= render partial: 'users/service' %>

<div class="page-header">
  <h2>Checks</h2>
</div>
<%= render partial: 'checks/service', locals: { service: @service } %>
<%= render partial: 'checks/modal' %>


