<div class="page-header">
  <h1>Show Server</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @service.name %></dd>
  <dt><strong>Server:</strong></dt>
  <dd><%= "#{@service.server.team.alias}: #{@service.server.name}" %></dd>
  <dt><strong>Protocol:</strong></dt>
  <dd><%= @service.protocol %></dd>
  <dt><strong>Version:</strong></dt>
  <dd><%= @service.version %></dd>
  <dt><strong>Enabled:</strong></dt>
  <dd><%= @service.enabled %></dd>
</dl>

<% if whiteteam? %>
  <div class="form-actions">
    <%= link_to 'Back', services_path, class: 'btn' %>
    <%= link_to 'Edit', edit_service_path(@service), class: 'btn' %>
    <%= link_to 'Delete', service_path(@service), method: :delete, class: 'btn btn-danger', data: { confirm: 'Please Confirm' } %>
  </div>
<% end %>
