<div class="page-header">
  <table>
    <tr>
      <td><%= @team.alias %> Service: <%= @service.name %></td>
      <td>
        <%= link_to 'Edit', edit_team_service_path(@team,@service), class: 'btn' if can? :edit, @service %>
        <%= link_to 'Delete', team_service_path(@team,@service), method: :delete, class: 'btn btn-danger', data: { confirm: 'Please Confirm' } if can? :destroy, @team %>
      </td>
    </tr>
  </table>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Id:</td>
      <td><%= @service.id %></td>
    </tr>
    <tr>
      <td>Server Id:</td>
      <td><%= @service.server_id %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= @service.name %></td>
    </tr>
    <tr>
      <td>Protocol:</td>
      <td><%= @service.protocol %></td>
    </tr>
    <tr>
      <td>Version:</td>
      <td><%= @service.version %></td>
    </tr>
    <tr>
      <td>Enabled:</td>
      <td><%= @service.enabled %></td>
    </tr>
    <tr>
      <td>Points:</td>
      <td><%= @service.points %></td>
    </tr>
  </table>
</div>

<div class="page-header">
  <h2>Properties</h2>
</div>
<%= render partial: 'service_properties' %>

<div class="page-header">
  <h2>Users</h2>
</div>
<%= render partial: 'service_users' %>

<div class="page-header">
  <h2>Checks</h2>
</div>
<%= render partial: 'service_checks' %>
<%= render partial: 'checks/modal' %>


