<%= form_for 'session', url: sessions_path, html: { class: 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label 'username', 'Username', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field 'username', class: 'text_field', autofocus:true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'password', 'Password', class: 'control-label' %>
    <div class="controls">
      <%= f.password_field 'password', class: 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Login', class: 'btn btn-primary' %>
  </div>

<% end %>
