<div class="page-header">
  <table>
    <tr>
      <td>All Checks</td>
    </tr>
  </table>
</div>

<table class="table datatable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Team</th>
      <th>Server</th>
      <th>Service</th>
      <th>Passed</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @checks.count == 0 %>
      <tr>
        <td colspan="4">No Checks</td>
      </tr>
    <% else %>
      <% @checks.each do |check| %>
        <% team = check.team %>
        <% server = check.server %>
        <% service = check.service %>
        <% icon_class = case check.passed when true then "icon-ok success"; when false then "icon-remove error"; else "icon-minus info" end %>
        <% icon_text = case check.passed when true then "True"; when false then "False"; else "No Checks" end %>
        <tr>
          <td><%= check.id %></td>
          <td><%= team.alias %></td>
          <td><%= server.name %></td>
          <td><%= service.name %></td>
          <td>
            <%= link_to modal_team_server_service_check_path(team,server,service,check), data: { toggle: "modal", target: "#checksModal" } do %>
              <i class="<%= icon_class %>"><span><%= icon_text %></span></i>
            <% end %>
          </td>
          <td><%= check.created_at %></td>
          <td>
            <%= link_to 'Show', team_server_service_check_path(team,server,service,check), class: 'btn btn-small' %>
            <%= link_to 'Edit', edit_team_server_service_check_path(team,server,service,check), class: 'btn btn-small' %>
            <%= link_to 'Delete', team_server_service_check_path(team,server,service,check), method: :delete, class: 'btn btn-small btn-danger', data: { confirm: 'Please Confirm' } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= render partial: 'checks/modal' %>
<%= render partial: 'properties/modal' %>
<%= render partial: 'users/modal' %>

