<%= form_for [@team, @server], html: { class: 'form-horizontal' } do |f| %>
  <% if @server.errors.any? %>
    <% flash[:error] = @server.errors.full_messages.to_s %>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, class: 'text_field', autofocus: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :team_id, class: 'control-label' %>
    <div class="controls">
      <%= select(:server, :team_id, [[@team.alias, @team.id]] ) %>
    </div>
  </div>

  <% if whiteteam? && params[:action] == 'new' %>
    <br />
    <h2>Whiteteam Options</h2>
    <hr />
    <div class="control-group-long">
      <%= label_tag :whiteteam, "Duplicate across blueteams?", class: 'control-label' %>
      <div class="controls">
        <%= check_box(:whiteteam, :duplicate, { class: 'check_box' }, "yes", "no") %>
      </div>
    </div>
  <% end %>

<% end %>

