<table class="table table-hover">
  <thead>
    <tr>
      <% if whiteteam? %>
        <th>Id</th>
        <th>Name</th>
        <th>Team</th>
        <th>Actions</th>
      <% else %>
        <th>Name</th>
        <th>Team</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <% if whiteteam? %>
          <td><%= server.id %></td>
          <td><%= link_to server.name, server_path(server) %></td>
          <td><%= link_to server.team.alias, team_path(server.team) %></td>
          <td>
          <%= link_to 'Edit', edit_server_path(server), class: 'btn btn-mini' %>
          <%= link_to 'Delete', server_path(server), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Please Confirm' } %>
          </td>
        <% else %>
          <td><%= link_to server.name, server_path(server) %></td>
          <td><%= link_to server.team.alias, team_path(server.team) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
