<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Services</th>
      <th>Service Status</th>
      <th>Users</th>
      <th>Properties</th>
    </tr>
  </thead>
  <tbody>
    <% team.servers.includes(:services).ordered.each do |server| %>
      <tr>
        <td><%= link_to server.name, team_server_path(team,server) %></td>
        <% if server.services.empty? %>
          <td>No Services</td>
          <td>No Services</td>
        <% else %>
          <td>
            <% server.services.each do |service| %>
              <% next unless service.can_show?(current_member,@team.id) %>
              <%= link_to service.name, team_server_service_path(team,server,service) %><br />
            <% end %>
          </td>
          <td>
            <% server.services.each do |service| %>
              <% next unless service.can_show?(current_member,@team.id) %>
              <% latest_check = service.checks.latest || Check.new %>
              <% label_class = latest_check.passed ? "success" : "important" %>
              <% label_text = latest_check.passed ? "Passing" : "Failing" %>
              <% if service.disabled? %>
                <% label_class = "invert" %>
                <% label_text = "Disabled" %>
                <span class="label label-<%= label_class %>"><%= label_text %></span>
              <% elsif latest_check.id.nil? %>
                <span class="label label-info">No Checks</span>
              <% else %>
                <%= link_to modal_team_server_service_check_path(team,server,service,latest_check), data: { toggle: "modal", target: "#checksModal" } do %>
                  <span class="label label-<%= label_class %>"><%= label_text %></span>
                <% end %>
              <% end %>
              <br />
            <% end %>
          </td>
        <% end %>
        <td>
          <% unless server.users.exists? %>
            No Users
          <% else %>
            <%= link_to "Users", modal_team_server_users_path(team,server), data: { toggle: "modal", target: "#usersModal" } %>
          <% end %>
        </td>
        <td>
          <% unless server.properties.exists? %>
            No Properties
          <% else %>
            <%= link_to "Properties", modal_team_server_properties_path(team,server), data: { toggle: "modal", target: "#propertiesModal" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'checks/modal' %>
<%= render partial: 'properties/modal' %>
<%= render partial: 'users/modal' %>
