<% servers = team.servers.order("name DESC") %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Services</th>
      <th>Service Status</th>
      <th>Users</th>
      <th>Properties</th>
    </tr>
  </thead>
  <tbody>
    <% servers.each do |server| %>
      <tr>
        <td><%= link_to server.name, team_server_path(team,server) %></td>
        <% if server.services.count == 0 %>
          <td>No Services</td>
          <td>No Services</td>
        <% else %>
          <td>
            <% server.services.each do |service| %>
              <%= link_to service.name, team_server_service_path(team,server,service) %><br />
            <% end %>
          </td>
          <td>
            <% server.services.each do |service| %>
              <% latest = service.checks.latest || Check.new %>
              <% label_class = latest.passed ? "success" : "important" %>
              <% label_text = latest.passed ? "Passing" : "Failing" %>
              <% if latest.id.nil? %>
                <span class="label label-info">No Checks</span>
              <% else %>
                <%= link_to modal_team_server_service_check_path(team,server,service,latest), data: { toggle: "modal", target: "#checksModal" } do %>
                  <span class="label label-<%= label_class %>"><%= label_text %></span>
                <% end %>
                <br />
              <% end %>
            <% end %>
          </td>
        <% end %>
        <td>
          <% if server.users.count == 0 %>
            No Users
          <% else %>
            <%= link_to "Users", modal_team_server_users_path(team,server), data: { toggle: "modal", target: "#usersModal" } %>
          <% end %>
        </td>
        <td>
          <% if server.properties.count == 0 %>
            No Properties
          <% else %>
            <%= link_to "Properties", modal_team_server_properties_path(team,server), data: { toggle: "modal", target: "#propertiesModal" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'checks/modal' %>
<%= render partial: 'properties/modal' %>
<%= render partial: 'users/modal' %>
