<% content_for :header do 'Edit Server' end %>

<% if can?([:edit], @server) %>
  <% content_for :actions do %>
    <% if can? :edit, @server %>
      <li class='submit'>
        <%= link_to '#', onclick: "$('#edit_server_#{@server.id}').trigger('submit')" do %>Update<i class="icon-ok-sign"></i><% end %>
      </li>
    <% end %>
    <% if can? :edit, @server %>
      <li class='cancel'>
        <%= link_to team_servers_path(@team) do %>Cancel<i class="icon-ban-circle"></i><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :navigation do %>
  <li class='navigation'>
    <%= link_to team_server_services_path(@team,@server) do %>Services<i class="icon-chevron-right"></i><% end %>
  </li>
<% end %>

<% content_for :crumbs do %>
  <li class='crumb'>
    <%= link_to team_path(@team) do %>Team<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_servers_path(@team) do %>Servers<i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<%= render partial: 'form' %>
