<% if can?(:new, Server) %>
  <% content_for :actions do %>
    <% if can? :new, Server %>
      <li class='new'>
        <%= link_to '#', onclick: "$('#new_server').trigger('submit')" do %>Create<i class="icon-ok-sign"></i><% end %>
      </li>
    <% end %>
    <li class='cancel'>
      <%= link_to team_servers_path(@team) do %>Cancel<i class="icon-ban-circle"></i><% end %>
    </li>
  <% end %>
<% end %>

<% content_for :paths do %>
  <li class='path'>
    <%= link_to teams_path do %><span>Teams</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_path(@team) do %><span><%= @team.alias %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_servers_path(@team) do %><span>Servers</span><i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<div class="page-header">
  <h3>New Server</h3>
</div>

<%= render partial: 'form' %>
