<% content_for :header do @server.name end %>

<% if can?(:edit, @server) || can?(:destroy, @server) %>
  <% content_for :actions do %>
    <% if can? :edit, @server %>
      <li class='edit'>
        <%= link_to edit_team_server_path(@team,@server) do %>Edit<i class="icon-plus"></i><% end %>
      </li>
    <% end %>
    <% if can? :destroy, @server %>
      <li class='destroy'>
        <%= link_to team_server_path(@team,@server), method: :delete, data: { confirm: 'Please Confirm' } do %>Delete<i class="icon-warning-sign"></i><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :navigation do %>
  <li class='navigation'>
    <%= link_to team_server_services_path(@team,@server) do %>Services<i class="icon-chevron-right"></i><% end %>
  </li>
<% end %>

<% content_for :crumbs do %>
  <li class='crumb'>
    <%= link_to team_path(@team) do %>Team<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_servers_path(@team) do %>Servers<i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Name:</td>
      <td><%= @server.name %></td>
    </tr>
    <tr>
      <td>Team:</td>
      <td><%= Team.find_by_id(@server.team_id).alias %></td>
    </tr>
  </table>
</div>

<div class="page-header">
  <h2>Services</h2>
</div>

<%= render partial: 'services/server', locals: { server: @server, team: @team } %>
<%= render partial: 'checks/modal' %>
<%= render partial: 'properties/modal' %>
<%= render partial: 'users/modal' %>

