<% if @server.can_edit?(current_member,@team.id) || @server.can_destroy?(current_member,@team.id) || Service.can_new?(current_member,@team.id) %>
  <% content_for :actions do %>
    <% if @server.can_edit?(current_member,@team.id) %>
      <li class='edit'>
        <%= link_to edit_team_server_path(@team,@server) do %><i class="icon-plus"></i><span>Edit</span><% end %>
      </li>
    <% end %>
    <% if @server.can_destroy?(current_member,@team.id) %>
      <li class='destroy'>
        <%= link_to team_server_path(@team,@server), method: :delete, data: { confirm: 'Please Confirm' } do %><i class="icon-warning-sign"></i><span>Delete</span><% end %>
      </li>
    <% end %>
    <% if Service.can_new?(current_member,@team.id) %>
      <li class="new">
        <%= link_to new_team_server_service_path(@team,@server) do %><i class="icon-plus-sign"></i><span>New Service</span><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :paths do %>
  <li class='path indent'>
    <%= link_to "Team: #{@team.alias}", team_path(@team) %>
  </li>
  <li class='path indent'>
    <%= link_to "Server: #{@server.name}", team_server_path(@team,@server) %>
  </li>
<% end %>


<div class="page-header">
  <h3><%= @server.name %></h3>
</div>


<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Name:</td>
      <td><%= @server.name %></td>
    </tr>
    <tr>
      <td>Team:</td>
      <td><%= @server.team.alias %></td>
    </tr>
  </table>
</div>

<div class="page-header">
  <h3>Services</h3>
</div>
<%= render partial: 'services/server', locals: { server: @server, team: @team } %>

<div class="page-header">
  <h3>Users</h3>
</div>
<%= render partial: 'users/server', locals: { server: @server } %>

<div class="page-header">
  <h3>Properties</h3>
</div>
<%= render partial: 'properties/server', locals: { server: @server } %>

<%= render partial: 'checks/modal' %>
<%= render partial: 'properties/modal' %>
<%= render partial: 'users/modal' %>
