<% if can?(:edit, @server) || can?(:destroy, @server) %>
  <% content_for :actions do %>
    <% if can? :edit, @server %>
      <li class='edit'>
        <%= link_to edit_team_server_path(@team,@server) do %>Edit<i class="icon-plus"></i><% end %>
      </li>
    <% end %>
    <% if can? :destroy, @server %>
      <li class='destroy'>
        <%= link_to team_server_path(@team,@server), method: :delete, data: { confirm: 'Please Confirm' } do %>Delete<i class="icon-warning-sign"></i><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :resources do %>
  <li class='resource'>
    <%= link_to team_server_services_path(@team,@server) do %>Services<i class="icon-chevron-right"></i><% end %>
  </li>
<% end %>

<% content_for :paths do %>
  <li class='path'>
    <%= link_to teams_path do %><span>Teams</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_path(@team) do %><span><%= @team.alias %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_servers_path(@team) do %><span>Servers</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_server_path(@team,@server) do %><span><%= @server.name %></span><i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<div class="page-header">
  <h3><%= @server.name %></h3>
</div>


<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Name:</td>
      <td><%= @server.name %></td>
    </tr>
    <tr>
      <td>Team:</td>
      <td><%= @server.team.alias %></td>
    </tr>
  </table>
</div>

<div class="page-header">
  <h3>Services</h3>
</div>

<%= render partial: 'services/server', locals: { server: @server, team: @team } %>
<%= render partial: 'checks/modal' %>
<%= render partial: 'properties/modal' %>
<%= render partial: 'users/modal' %>
