<div class="page-header">
  <table>
    <tr>
      <td>Server: <%= @server.name %></td>
      <td>
        <%= link_to "Team", team_path(@team), class: "btn btn-inverse" %>
        <%= link_to "Services", team_server_services_path(@team,@server), class: "btn btn-inverse #{'disabled' if @server.services.count == 0}" %>
        <%= link_to 'Edit', edit_team_server_path(@team,@server), class: 'btn' if can? :edit, @server %>
        <%= link_to 'Delete', team_server_path(@team,@server), method: :delete, class: 'btn btn-danger', data: { confirm: 'Please Confirm' } if can? :destroy, @server %>
      </td>
    </tr>
  </table>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Id:</td>
      <td><%= @server.id %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= @server.name %></td>
    </tr>
    <tr>
      <td>Team:</td>
      <td><%= Team.find_by_id(@server.team_id).alias %></td>
    </tr>
  </table>
</div>

<div class="page-header">
  <h2>Services</h2>
</div>

<%= render partial: 'server_services' %>
<%= render partial: 'checks/modal' %>
<%= render partial: 'properties/modal' %>
<%= render partial: 'users/modal' %>

