<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Team</th>
      <th>Server</th>
      <th>Service</th>
      <th>Username</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if can? :show, user %>
        <tr>
         <td><%= link_to user.id, user_path(user) %></td>
          <td><%= link_to user.service.server.team.alias, team_path(user.service.server.team) %></td>
          <td><%= link_to user.service.server.name, server_path(user.service.server) %></td>
          <td><%= link_to user.service.name, service_path(user.service) %></td>
          <td><%= user.username %></td>
          <td><%= user.password %></td>
          <td>
            <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-small' if can? :edit, user %>
            <%= link_to 'Delete', user_path(user), method: :delete, class: 'btn btn-small btn-danger', data: { confirm: 'Please Confirm' } if can? :destroy, user %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
