<% if @users.can_edit?(current_member,@team.id) %>
  <% content_for :actions do %>
    <li class='submit'>
      <%= link_to '#', onclick: "$('#csv_users_update').trigger('submit')" do %><i class="icon-ok-sign"></i><span>Update</span><% end %>
    </li>
    <li class='cancel'>
      <%= link_to team_server_service_path(@team,@server,@service) do %><i class="icon-ban-circle"></i><span>Cancel</span><% end %>
    </li>
  <% end %>
<% end %>

<% content_for :paths do %>
  <li class='path indent'>
    <%= link_to "Team: #{@team.alias}", team_path(@team) %>
  </li>
  <li class='path indent'>
    <%= link_to "Server: #{@server.name}", team_server_path(@team,@server) %>
  </li>
  <li class='path indent'>
    <%= link_to "Service: #{@service.name}", team_server_service_path(@team,@server,@service) %>
  </li>
<% end %>


<div class="page-header">
  <h3>CSV Users<h3>
</div>

<%= form_tag csv_team_server_service_users_path(@team,@server,@service), action: 'csv', method: 'post', id: 'csv_users_update' do |f| %>
  <div class="control-group">
    <%= label_tag 'csv', 'CSV Users', class: 'control-label' %>
    <div class="controls">
      <%= text_area_tag 'csv', @users.to_csv, class: 'text_area horizontal_text_area' %>
    </div>
  </div>

  <%= submit_tag 'Update', class: 'invisible-submit' %>
<% end %>

