<% if @user.can_edit?(current_member,@team.id) || @user.can_destroy?(current_member,@team.id) %>
  <% content_for :actions do %>
    <% if @user.can_edit?(current_member,@team.id) %>
      <li class='edit'>
        <%= link_to edit_team_server_service_user_path(@team,@server,@service,@user) do %><i class="icon-plus"></i><span>Edit</span><% end %>
      </li>
    <% end %>
    <% if @user.can_destroy?(current_member,@team.id) %>
      <li class='destroy'>
        <%= link_to team_server_service_user_path(@team,@server,@service,@user), method: :delete, data: { confirm: 'Please Confirm' } do %><i class="icon-warning-sign"></i><span>Delete</span><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :paths do %>
  <li class='path indent'>
    <%= link_to "Team: #{@team.alias}", team_path(@team) %>
  </li>
  <li class='path indent'>
    <%= link_to "Server: #{@server.name}", team_server_path(@team,@server) %>
  </li>
  <li class='path indent'>
    <%= link_to "Service: #{@service.name}", team_server_service_path(@team,@server,@service) %>
  </li>
  <li class='path indent'>
    <%= link_to "User: #{@user.username}", team_server_service_user_path(@team,@server,@service,@user) %>
  </li>
<% end %>


<div class="page-header">
  <h3><%= @user.username %><h3>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Username:</td>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <td><%= link_to_function "(Hide/Unhide)", "toggle_fields('div.show_password')" %> Password:</td>
      <td><div class="show_password"><%= @user.password %></div></td>
    </tr>
  </table>
</div>
