<div class="page-header">
  <table>
    <tr>
      <td>User: <%= @user.username %></td>
      <td>
        <%= link_to 'Edit', edit_team_server_service_user_path(@team,@server,@service,@user), class: 'btn' if can? :edit, @user %>
        <%= link_to 'Delete', team_server_service_user_path(@team,@server,@service,@user), method: :delete, class: 'btn btn-danger', data: { confirm: 'Please Confirm' } if can? :destroy, @user %>
      </td>
    </tr>
  </table>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Username:</td>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><%= @user.password %></td>
    </tr>
  </table>
</div>
