<%= form_for [@team,@server,@service,@property], html: { class: 'form-horizontal' } do |f| %>
  <% if @property.errors.any? %>
    <% flash[:error] = @property.errors.full_messages.to_s %>
  <% end %>

  <div class="control-group">
    <%= f.label :category, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :category, class: 'text_field', autofocus: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :property, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :property, class: 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :value, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :value, class: 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :team_id, class: 'control-label' %>
    <div class="controls">
      <%= select(:property, :team_id, [[@team.alias, @team.id]]) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :server_id, class: 'control-label' %>
    <div class="controls">
      <%= select(:property, :server_id, [[@server.name, @server.id]]) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :service_id, class: 'control-label' %>
    <div class="controls">
      <%= select(:property, :service_id, [[@service.name, @service.id]]) %>
    </div>
  </div>
<% end %>
