<table class="table table-hover">
  <thead>
    <tr>
      <% if whiteteam? %>
        <th>Id</th>
        <th>Team</th>
        <th>Server</th>
        <th>Service</th>
        <th>Type</th>
        <th>Property</th>
        <th>Value</th>
        <th>Actions</th>
      <% else %>
        <th>Id</th>
        <th>Team</th>
        <th>Server</th>
        <th>Service</th>
        <th>Type</th>
        <th>Property</th>
        <th>Value</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <% if whiteteam? %>
          <td><%= link_to "Property", property_path(property) %></td>
          <td><%= link_to property.service.server.team.alias, team_path(property.service.server.team) %></td>
          <td><%= link_to property.service.server.name, server_path(property.service.server) %></td>
          <td><%= link_to property.service.name, service_path(property.service) %></td>
          <td><%= property.category %></td>
          <td><%= property.property %></td>
          <td><%= property.value %></td>
          <td>
          <%= link_to 'Edit', edit_property_path(property), class: 'btn btn-mini' %>
          <%= link_to 'Delete', property_path(property), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Please Confirm' } %>
          </td>
        <% else %>
          <td><%= link_to "Property", property_path(property) %></td>
          <td><%= link_to property.service.server.team.alias, team_path(property.service.server.team) %></td>
          <td><%= link_to property.service.server.name, server_path(property.service.server) %></td>
          <td><%= link_to property.service.name, service_path(property.service) %></td>
          <td><%= property.category %></td>
          <td><%= property.property %></td>
          <td><%= property.value %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
