<% content_for :header do "#{@service.name} Properties" end %>

<% if can? :new, Property %>
  <% content_for :actions do %>
    <% if can? :new, Property %>
      <li class="new"> 
        <%= link_to new_team_server_service_property_path(@team,@server,@service) do %>New Property<i class="icon-plus-sign"></i><% end %>
      </li>
    <% end %>  
  <% end %>  
<% end %> 

<% content_for :crumbs do %>
  <li class='crumb'>
    <%= link_to team_path(@team) do %>Team<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_servers_path(@team) do %>Servers<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_server_path(@team,@server) do %>Server<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_server_services_path(@team,@server) do %>Services<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_server_service_path(@team,@server,@service) do %>Service<i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<% service = @service if @service %>
<% properties = service.properties.order('updated_at DESC') %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Updated At</th>
      <th>Category</th>
      <th>Property</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if properties.count == 0 %>
      <tr>
        <td colspan="5">No Properties</td>
      </tr>
    <% else %>
      <% properties.each do |property| %>
        <tr>
          <td><%= property.updated_at %></td>
          <td><%= property.category %></td>
          <td><%= property.property %></td>
          <td><%= property.value %></td>
          <td>
            <%= link_to "Show", team_server_service_property_path(@team,@server,service,property), class: "btn btn-small" if can? :show, property%>
            <%= link_to "Edit", edit_team_server_service_property_path(@team,@server,service,property), class: 'btn btn-small' if can? :edit, property %>
            <%= link_to 'Delete', team_server_service_property_path(@team,@server,service,property), class: 'btn btn-small btn-danger', method: :delete, data: { confirm: 'Please Confirm' } if can? :destroy, property %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
