<% if can?(:new, Property) %>
  <% content_for :actions do %>
    <% if can? :new, Property %>
      <li class="new"> 
        <%= link_to new_team_server_service_property_path(@team,@server,@service) do %>New Property<i class="icon-plus-sign"></i><% end %>
      </li>
    <% end %>  
  <% end %>  
<% end %> 

<% content_for :paths do %>
  <li class='path'>
    <%= link_to teams_path do %><span>Teams</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_path(@team) do %><span><%= @team.alias %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_servers_path(@team) do %><span>Servers</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_server_path(@team,@server) do %><span><%= @server.name %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_server_services_path(@team,@server) do %><span>Services</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_server_service_path(@team,@server,@service) do %><span><%= @service.name %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_server_service_users_path(@team,@server,@service) do %><span>Properties</span><i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<div class="page-header">
  <h3>Properties<h3>
</div>

<% properties = @service.properties.order('category DESC') %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Category</th>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% if properties.count == 0 %>
      <tr>
        <td colspan="3">No Properties</td>
      </tr>
    <% else %>
      <% properties.each do |property| %>
        <% next if cannot? :show, property %>
        <tr>
          <td><%= link_to property.category, team_server_service_property_path(@team,@server,@service,property) %></td>
          <td><%= property.property %></td>
          <td><%= property.value %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
