<% content_for :header do @property.property end %>

<% if can?(:edit, @property) || can?(:destroy, @property) %>
  <% content_for :actions do %>
    <% if can? :edit, @property %>
      <li class='edit'>
        <%= link_to edit_team_server_service_property_path(@team,@server,@service,@property) do %>Edit<i class="icon-plus"></i><% end %>
      </li>
    <% end %>
    <% if can? :destroy, @property %>
      <li class='destroy'>
        <%= link_to team_server_service_property_path(@team,@server,@service,@property), method: :delete, data: { confirm: 'Please Confirm' } do %>Delete<i class="icon-warning-sign"></i><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :crumbs do %>
  <li class='crumb'>
    <%= link_to team_path(@team) do %>Team<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_servers_path(@team) do %>Servers<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_server_path(@team,@server) do %>Server<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_server_services_path(@team,@server) do %>Services<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_server_service_path(@team,@server,@service) do %>Service<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_server_service_properties_path(@team,@server,@service) do %>Properties<i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Category:</td>
      <td><%= @property.category %></td>
    </tr>
    <tr>
      <td>Property:</td>
      <td><%= @property.property %></td>
    </tr>
    <tr>
      <td>Value:</td>
      <td><%= @property.value %></td>
    </tr>
  </table>
</div>
