<% if @property.can_edit?(current_member,@team.id) || @property.can_destroy?(current_member,@team.id) %>
  <% content_for :actions do %>
    <% if @property.can_edit?(current_member,@team.id) %>
      <li class='edit'>
        <%= link_to edit_team_server_service_property_path(@team,@server,@service,@property) do %><i class="icon-plus"></i><span>Edit</span><% end %>
      </li>
    <% end %>
    <% if @property.can_destroy?(current_member,@team.id) %>
      <li class='destroy'>
        <%= link_to team_server_service_property_path(@team,@server,@service,@property), method: :delete, data: { confirm: 'Please Confirm' } do %><i class="icon-warning-sign"></i><span>Delete</span><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :paths do %>
  <li class='path indent'>
    <%= link_to "Team: #{@team.alias}", team_path(@team) %>
  </li>
  <li class='path indent'>
    <%= link_to "Server: #{@server.name}", team_server_path(@team,@server) %>
  </li>
  <li class='path indent'>
    <%= link_to "Service: #{@service.name}", team_server_service_path(@team,@server,@service) %>
  </li>
  <li class='path indent'>
    <%= link_to "Property: #{@property.category}", team_server_service_property_path(@team,@server,@service,@property) %>
  </li>
<% end %>


<div class="page-header">
  <h3><%= @property.category %><h3>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Category:</td>
      <td><%= @property.category %></td>
    </tr>
    <tr>
      <td>Property:</td>
      <td><%= @property.property %></td>
    </tr>
    <tr>
      <td>Value:</td>
      <td><%= @property.value %></td>
    </tr>
  </table>
</div>
