<% content_for :meta do %>
  <meta http-equiv="refresh" content="60" />
<% end %>
<div id="chart" style="height:550px;"></div>

<div class='page-header'>
  <h3>Totals</h3>
</div>
<table class='table table-bordered table-hover'>
  <thead>
    <th>Team</th>
    <th>Checks</th>
    <th>Passed</th>
    <th>Percent</th>
    <th>Points</th>
    <th>Available</th>
  </thead>
  <tbody>
    <% @scoreboard.each do |team_id,team| %>
      <tr>
        <td><%= team[:alias] %></td>
        <td><%= team[:checks] %></td>
        <td><%= team[:passed] %></td>
        <td><%= team[:percent] %></td>
        <td><%= team[:points] %></td>
        <td><%= team[:available] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />

<% if current_member.can_scoreboard? || (current_member.logged_in? && !current_member.redteam?)  %>
  <div class='page-header'>
    <h3>Breakdown</h3>
  </div>
  <% @scoreboard.each do |team_id,team| %>
    <% next unless current_member.can_scoreboard? || team[:team].can_show?(current_member,team_id) %>
    <div class='page-header'>
      <h4><%= team[:alias] %></h4>
    </div>
    <table class='table table-bordered table-hover'>
      <thead>
        <th>Service</th>
        <th>Version</th>
        <th>Protocol</th>
        <th>Checks</th>
        <th>Passed</th>
        <th>Percent</th>
        <th>Points</th>
        <th>Available</th>
      </thead>
      <tbody>
        <% team[:services].each do |service_id,service| %>
          <% next unless current_member.can_scoreboard? || service[:service].can_show?(current_member,team_id) %>
          <tr>
            <td><%= service[:name] %></td>
            <td><%= service[:version] %></td>
            <td><%= service[:protocol] %></td>
            <td><%= service[:checks] %></td>
            <td><%= service[:passed] %></td>
            <td><%= service[:percent] %></td>
            <td><%= service[:points] %></td>
            <td><%= service[:available] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br />
  <% end %>
<% end %>
<% content_for :javascript_data do %>
  window.teams = <%= json_escape @teams.to_json.html_safe %>;
  window.colors = <%= json_escape @colors.to_json.html_safe %>;
  window.bargraph = <%= json_escape @bargraph.to_json.html_safe %>;
<% end %>
<% content_for :javascript do %>
  <%= javascript_include_tag 'scoreboard' %>
<% end %>
