<%= form_for [@team,@server,@service,@check], html: { class: 'form-horizontal' } do |f| %>
  <% if @check.errors.any? %>
    <% flash[:error] = @check.errors.full_messages.to_s %>
  <% end %>

  <div class="control-group">
    <%= f.label :passed, class: 'control-label' %>
    <div class="controls">
      <% if @check.passed == true %>
        <%= f.check_box :passed, class: 'check_box', checked: true %>
      <% else %>
        <%= f.check_box :passed, class: 'check_box' %>
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :request, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :request, class: 'text_area horizontal_text_area', autofocus: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :response, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :response, class: 'text_area horizontal_text_area' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :team_id, class: 'control-label' %>
    <div class="controls">
      <%= select(:check, :team_id, [[@team.alias, @team.id]]) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :server_id, class: 'control-label' %>
    <div class="controls">
      <%= select(:check, :server_id, [[@server.name, @server.id]]) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :service_id, class: 'control-label' %>
    <div class="controls">
      <%= select(:check, :service_id, [[@service.name, @service.id]]) %>
    </div>
  </div>


<% end %>

