<table class="table table-hover">
  <thead>
    <tr>
      <th>Service</th>
      <th>Round</th>
      <th>Category</th>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= check.service.name %></td>
        <td><%= check.round %></td>
        <td><%= check.passed %></td>
        <td><%= check.request %></td>
        <td><%= check.response %></td>
      </tr>
    <% end %>
  </tbody>
</table>
