<% latest_check = @service.checks.latest || Check.new %>
<% checks = @service.checks.minimal.ordered unless latest_check.id.nil? %>
<% if latest_check.id.nil? %>
  <p>No checks</p>
<% else %>
  <div class="page-header">
    <h3>Latest Check</h3>
  </div>

  <div class="table-dl-horizontal">
    <table>
      <tr>
        <td>Round:</td>
        <td><%= latest_check.round %></td>
      </tr>
      <tr>
        <td>Status:</td>
        <% label_class = latest_check.passed ? "success" : "important" %>
        <% label_text = latest_check.passed ? "Passed" : "Failed" %>
        <td><span class="label label-<%= label_class %>"><%= label_text %></span></td>
      </tr>
      <tr>
        <td>Created:</td>
        <td><%= latest_check.created_at %></td>
      </tr>
      <tr>
        <td>Request:</td>
        <td><%= latest_check.request %></td>
      </tr>
      <tr>
        <td>Response:</td>
        <td><%= latest_check.response %></td>
      </tr>
    </table>
  </div>

  <div class="page-header">
    <h3>Checks</h3>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Round</th>
        <th>Status</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% checks.each do |check| %>
        <% label_class = check.passed ? "success" : "important" %>
        <% label_text = check.passed ? "Passed" : "Failed" %>
        <tr>
          <td><%= link_to check.round, team_server_service_check_path(@team,@server,@service,check) %></td>
          <td>
            <%= link_to modal_team_server_service_check_path(@team,@server,@service,check), data: { toggle: "modal", target: "#checksModal" } do %>
              <span class="label label-<%= label_class %>"><%= label_text %></span>
            <% end %>
          </td>
          <td><%= check.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
