<% if can?(:new, Check) %>
  <% content_for :actions do %>
    <% if can? :new, Check %>
      <li class="new"> 
        <%= link_to new_team_server_service_check_path(@team,@server,@service) do %>New Check<i class="icon-plus-sign"></i><% end %>
      </li>
    <% end %>  
  <% end %>  
<% end %> 

<% content_for :paths do %>
  <li class='path'>
    <%= link_to teams_path do %><span>Teams</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_path(@team) do %><span><%= @team.alias %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_servers_path(@team) do %><span>Servers</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_server_path(@team,@server) do %><span><%= @server.name %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_server_services_path(@team,@server) do %><span>Services</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_server_service_path(@team,@server,@service) do %><span><%= @service.name %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_server_service_checks_path(@team,@server,@service) do %><span>Checks</span><i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<% latest = @service.checks.latest || Check.new %>
<% checks = @service.checks.select('id,round,passed,created_at').order('round DESC') unless latest.id.nil? %>

<% if latest.id.nil? %>
  <p>No checks</p>
<% else %>
  <div class="page-header">
    <h3>Latest Check</h3>
  </div>

  <div class="table-dl-horizontal">
    <table>
      <tr>
        <td>Round:</td>
        <td><%= latest.round %></td>
      </tr>
      <tr>
        <td>Status:</td>
        <% label_class = latest.passed ? "success" : "important" %>
        <% label_text = latest.passed ? "Passed" : "Failed" %>
        <td><span class="label label-<%= label_class %>"><%= label_text %></span></td>
      </tr>
      <tr>
        <td>Created:</td>
        <td><%= latest.created_at %></td>
      </tr>
      <tr>
        <td>Request:</td>
        <td><%= latest.request %></td>
      </tr>
      <tr>
        <td>Response:</td>
        <td><%= latest.response %></td>
      </tr>
    </table>
  </div>

  <div class="page-header">
    <h3>Checks</h3>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Round</th>
        <th>Status</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% checks.each do |check| %>
        <% label_class = check.passed ? "success" : "important" %>
        <% label_text = check.passed ? "Passed" : "Failed" %>
        <tr>
          <td><%= link_to check.round, team_server_service_check_path(@team,@server,@service,check) %></td>
          <td>
            <%= link_to modal_team_server_service_check_path(@team,@server,@service,check), data: { toggle: "modal", target: "#checksModal" } do %>
              <span class="label label-<%= label_class %>"><%= label_text %></span>
            <% end %>
          </td>
          <td><%= check.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= render partial: 'checks/modal' %>
