<% if @check.can_edit?(current_member,@team.id) || @check.can_destroy?(current_member,@team.id) %>
  <% content_for :actions do %>
    <% if @check.can_edit?(current_member,@team.id) %>
      <li class='edit'>
        <%= link_to edit_team_server_service_check_path(@team,@server,@service,@check) do %><i class="icon-plus"></i><span>Edit</span><% end %>
      </li>
    <% end %>
    <% if @check.can_destroy?(current_member,@team.id) %>
      <li class='destroy'>
        <%= link_to team_server_service_check_path(@team,@server,@service,@check), method: :delete, data: { confirm: 'Please Confirm' } do %><i class="icon-warning-sign"></i><span>Delete</span><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>


<div class="page-header">
  <h3><%= @check.round %></h3>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Round:</td>
      <td><%= @check.round %></td>
    </tr>
    <tr>
      <td>Status:</td>
      <% label_class = @check.passed ? "success" : "important" %>
      <% label_text = @check.passed ? "Passed" : "Failed" %>
      <td><span class="label label-<%= label_class %>"><%= label_text %></span></td>
    </tr>
    <tr>
      <td>Created:</td>
      <td><%= @check.created_at %></td>
    </tr>
    <tr>
      <td>Request:</td>
      <td><%= @check.request %></td>
    </tr>
    <tr>
      <td>Response:</td>
      <td><%= @check.response %></td>
    </tr>
  </table>
</div>

