<% content_for :header do "Round #{@check.round} Check" end %>

<% if can?(:edit, @check) || can?(:destroy, @check) %>
  <% content_for :actions do %>
    <% if can? :edit, @check %>
      <li class='edit'>
        <%= link_to edit_team_server_service_check_path(@team,@server,@service,@check) do %>Edit<i class="icon-plus"></i><% end %>
      </li>
    <% end %>
    <% if can? :destroy, @check %>
      <li class='destroy'>
        <%= link_to team_server_service_check_path(@team,@server,@service,@check), method: :delete, data: { confirm: 'Please Confirm' } do %>Delete<i class="icon-warning-sign"></i><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :crumbs do %>
  <li class='crumb'>
    <%= link_to team_path(@team) do %>Team<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_servers_path(@team) do %>Servers<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_server_path(@team,@server) do %>Server<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_server_services_path(@team,@server) do %>Services<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_server_service_path(@team,@server,@service) do %>Service<i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='crumb'>
    <%= link_to team_server_service_checks_path(@team,@server,@service) do %>Checks<i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Passed:</td>
        <% if @check.passed %>
          <td><span class="label label-success"><%= @check.passed %></span></td>
        <% else %>
          <td><span class="label label-important"><%= @check.passed %></span></td>
        <% end %>
    </tr>
    <tr>
      <td>Round:</td>
      <td><%= @check.round %></td>
    </tr>
    <tr>
      <td>Request:</td>
      <td><%= @check.request %></td>
    </tr>
    <tr>
      <td>Response:</td>
      <td><%= @check.response %></td>
    </tr>
  </table>
</div>

