<% if can?(:edit, @check) || can?(:destroy, @check) %>
  <% content_for :actions do %>
    <% if can? :edit, @check %>
      <li class='edit'>
        <%= link_to edit_team_server_service_check_path(@team,@server,@service,@check) do %>Edit<i class="icon-plus"></i><% end %>
      </li>
    <% end %>
    <% if can? :destroy, @check %>
      <li class='destroy'>
        <%= link_to team_server_service_check_path(@team,@server,@service,@check), method: :delete, data: { confirm: 'Please Confirm' } do %>Delete<i class="icon-warning-sign"></i><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :paths do %>
  <li class='path'>
    <%= link_to teams_path do %><span>Teams</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_path(@team) do %><span><%= @team.alias %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_servers_path(@team) do %><span>Servers</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_server_path(@team,@server) do %><span><%= @server.name %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_server_services_path(@team,@server) do %><span>Services</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_server_service_path(@team,@server,@service) do %><span><%= @service.name %></span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path'>
    <%= link_to team_server_service_checks_path(@team,@server,@service) do %><span>Checks</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to team_server_service_check_path(@team,@server,@service,@check) do %><span><%= @check.round %></span><i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<div class="page-header">
  <h3><%= @check.round %></h3>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Round:</td>
      <td><%= @check.round %></td>
    </tr>
    <tr>
      <td>Status:</td>
      <% label_class = @check.passed ? "success" : "important" %>
      <% label_text = @check.passed ? "Passed" : "Failed" %>
      <td><span class="label label-<%= label_class %>"><%= label_text %></span></td>
    </tr>
    <tr>
      <td>Created:</td>
      <td><%= @check.created_at %></td>
    </tr>
    <tr>
      <td>Request:</td>
      <td><%= @check.request %></td>
    </tr>
    <tr>
      <td>Response:</td>
      <td><%= @check.response %></td>
    </tr>
  </table>
</div>

