<% if @member || @team || @server || @service || @check || @user || @property %>
  <li class="nav-header">Path</li>
  <% if @member %>
    <li class='path'>
      <%= link_to member_path(@member) do %><i class="icon-arrow-down"></i><span><%= @member.username %></span><% end %>
    </li>
  <% end %>
  <% if @team %>
    <li class='path'>
      <%= link_to team_path(@team) do %><i class="icon-arrow-down"></i><span><%= @team.alias %></span><% end %>
    </li>
  <% end %>
  <% if @server %>
    <li class='path'>
      <%= link_to team_server_path(@team,@server) do %><i class="icon-arrow-down"></i><span><%= @server.name %></span><% end %>
    </li>
  <% end %>
  <% if @service %>
    <li class='path'>
      <%= link_to team_server_service_path(@team,@server,@service) do %><i class="icon-arrow-down"></i><span><%= @service.name %></span><% end %>
    </li>
  <% end %>
  <% if @check %>
    <li class='path'>
      <%= link_to team_server_service_check_path(@team,@server,@service,@check) do %><i class="icon-arrow-down"></i><span><%= @check.round %></span><% end %>
    </li>
  <% end %>
  <% if @user %>
    <li class='path'>
      <%= link_to team_server_service_user_path(@team,@server,@service,@user) do %><i class="icon-arrow-down"></i><span><%= @user.username %></span><% end %>
    </li>
  <% end %>
  <% if @property %>
    <li class='path'>
      <%= link_to team_server_service_user_path(@team,@server,@service,@property) do %><i class="icon-arrow-down"></i><span><%= @property.property %></span><% end %>
    </li>
  <% end %>
<% end %>
