<% content_for :actions do %>
  <li class='edit'>
    <%= link_to edit_member_path(@member) do %><i class="icon-plus"></i><span>Edit</span><% end %>
  </li>
  <li class='destroy'>
    <%= link_to member_path(@member), method: :delete, data: { confirm: 'Please Confirm' } do %><i class="icon-warning-sign"></i><span>Delete</span><% end %>
  </li>
<% end %>


<div class="page-header">
  <h3><%= @member.username %></h3>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Team:</td>
      <td><%= @member.team.alias %></td>
    </tr>
    <tr>
      <td>Username:</td>
      <td><%= @member.username %></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><%= @member.password_digest %></td>
    </tr>
  </table>
</div>
