<div class="page-header">
  <table>
    <tr>
      <td><%= @member.username %></td>
      <td>
        <%= link_to 'Edit', edit_member_path(@member), class: 'btn' %>
        <%= link_to 'Delete', member_path(@member), method: :delete, class: 'btn btn-danger', data: { confirm: 'Please Confirm' } %>
      </td>
    </tr>
  </table>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Id:</td>
      <td><%= @member.id %></td>
    </tr>
    <tr>
      <td>Team:</td>
      <td><%= Team.find_by_id(@member.team_id).alias %></td>
    </tr>
    <tr>
      <td>Username:</td>
      <td><%= @member.username %></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><%= @member.password_digest %></td>
    </tr>
  </table>
</div>
