<div class="page-header">
  <h1>Show Member</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Username:</strong></dt>
  <dd><%= @member.username %></dd>
  <dt><strong>Password:</strong></dt>
  <dd><%= @member.password_digest %></dd>
  <dt><strong>Team:</strong></dt>
  <dd><%= @member.team_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back', members_path, class: 'btn' %>
  <%= link_to 'Edit', edit_member_path(@member), class: 'btn' %>
  <%= link_to 'Delete', member_path(@member), method: :delete, class: 'btn btn-danger' %>
</div>
