<% if can?(:edit, @member) || can?(:destroy, @member) %>
  <% content_for :actions do %>
    <% if can? :edit, @member %>
      <li class='edit'>
        <%= link_to edit_member_path(@member) do %>Edit<i class="icon-plus"></i><% end %>
      </li>
    <% end %>
    <% if can? :destroy, @member %>
      <li class='destroy'>
        <%= link_to member_path(@member), method: :delete, data: { confirm: 'Please Confirm' } do %>Delete<i class="icon-warning-sign"></i><% end %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :paths do %>
  <li class='path'>
    <%= link_to members_path do %><span>Members</span><i class="icon-chevron-left"></i><% end %>
  </li>
  <li class='path indent'>
    <%= link_to members_path do %><span><%= @member.username %></span><i class="icon-chevron-left"></i><% end %>
  </li>
<% end %>


<div class="page-header">
  <h3><%= @member.username %></h3>
</div>

<div class="table-dl-horizontal">
  <table>
    <tr>
      <td>Team:</td>
      <td><%= @member.team.alias %></td>
    </tr>
    <tr>
      <td>Username:</td>
      <td><%= @member.username %></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><%= @member.password_digest %></td>
    </tr>
  </table>
</div>
